In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('C:/nilai.csv')

In [3]:
dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
#rata-rata nilai matematika
dataset['math score'].mean()

66.089

In [8]:
#rata-rata nilai membaca
dataset['reading score'].mean()

69.169

In [9]:
#rata-rata nilai menulis
dataset['writing score'].mean()

68.054

In [11]:
#nilai matematika tertinggi
dataset['math score'].max()

100

In [12]:
#nilai membaca tertinggi
dataset['reading score'].max()

100

In [13]:
#nilai menulis tertinggi
dataset['writing score'].max()

100

In [14]:
#nilai matematika terendah
dataset['math score'].min()

0

In [15]:
#nilai membaca terendah
dataset['reading score'].min()

17

In [16]:
#nilai menulis terendah
dataset['writing score'].min()

10

In [17]:
#Berapa banyak nilai matematika di atas rata-rata?
condition = dataset['math score']>= dataset['math score'].mean()
dataset['math score'][condition].count()

493

In [18]:
#Berapa banyak nilai membaca di atas rata-rata?
condition = dataset['reading score']>= dataset['reading score'].mean()
dataset['reading score'][condition].count()

513

In [19]:
#Berapa banyak nilai menulis di atas rata-rata?
condition = dataset['writing score']>= dataset['writing score'].mean()
dataset['writing score'][condition].count()

512